body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: sans-serif;

	color: #00325a;
}

*,
*:focus,
*:hover {
	outline: none;
}
div.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
div.header {
	width: 100%;
	height: 150px;
	display: flex;

	align-items: center;
	justify-content: center;
	column-gap: 10px;
}
div.header {
	width: 100%;
	height: 150px;
	display: flex;

	align-items: center;
	justify-content: center;
	column-gap: 10px;
}

div.header > label {
	font-weight: bold;
}

div.header > input {
	height: 40px;
	border: 1px solid #c3c8da;
	border-radius: 8px;
	font-size: 21px;
	padding: 0 20px;
	color: #33475b;
}

div.header > button {
	border: none;
	color: white;
	height: 40px;
	width: 100px;
	background-color: #00bec8;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;

	transition: 0.1s ease-in;
}

div.cards-container {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
}

div.header > button:hover {
	opacity: 0.7;
}
div.card {
	width: 300px;
	height: 350px;
	border: 1px solid #00bec8;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 5px;
}

div.card > span.title {
	font-weight: bold;
}

ul {
	width: 100%;
}
